In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("train.csv")
df.head()

,Number words female,Total words,Number of words lead,Difference in words lead and co-lead,Number of male actors,Year,Number of female actors,Number words male,Gross,Mean Age Male,Mean Age Female,Age Lead,Age Co-Lead,Lead
0,1512,6394,2251.0,343,2,1995,5,2631,142.0,51.500000,42.333333,46.0,65.0,Female
1,1524,8780,2020.0,1219,9,2001,4,5236,37.0,39.125000,29.333333,58.0,34.0,Male
2,155,4176,942.0,787,7,1968,1,3079,376.0,42.500000,37.000000,46.0,37.0,Male
3,1073,9855,3440.0,2623,12,2002,2,5342,19.0,35.222222,21.500000,33.0,23.0,Male
4,1317,7688,3835.0,3149,8,1988,4,2536,40.0,45.250000,45.000000,36.0,39.0,Male

In [7]:
X_train = df[['Number words female','Total words','Number of words lead', 'Difference in words lead and co-lead', 'Number of male actors', 'Number of female actors', 'Number words male','Gross']]
y_train = df['Lead']
y_train.head()

0    Female
1      Male
2      Male
3      Male
4      Male
Name: Lead, dtype: object

In [10]:
model = LogisticRegression()

In [11]:
model.fit(X_train, y_train)

C:\Users\Aashu\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
df_test = pd.read_csv('test.csv')

In [13]:
X_test = df_test[['Number words female','Total words','Number of words lead', 'Difference in words lead and co-lead', 'Number of male actors', 'Number of female actors', 'Number words male','Gross']]

In [14]:
predict_prob=model.predict_proba(X_test)

In [16]:
print(model.classes_)
predict_prob[0:5]

['Female' 'Male']

array([[0.14862352, 0.85137648],
       [0.17431774, 0.82568226],
       [0.03846424, 0.96153576],
       [0.01830703, 0.98169297],
       [0.23055521, 0.76944479]])

In [17]:
p = np.empty(len(X_test), dtype=object)
p = np.where(predict_prob[:, 0]>=0.5, 'Female', 'Male')

In [18]:
p[0:5]

array(['Male', 'Male', 'Male', 'Male', 'Male'], dtype='<U6')

In [20]:
df_test.head()
#y_test = df_test['Lead']
#print(pd.crosstab(p,y_test))

,Number words female,Total words,Number of words lead,Difference in words lead and co-lead,Number of male actors,Year,Number of female actors,Number words male,Gross,Mean Age Male,Mean Age Female,Age Lead,Age Co-Lead
0,669,5388,2564.0,2241,8,2005,3,2155,46.0,33.571429,31.0,50.0,18.0
1,161,3468,1347.0,1186,5,2001,1,1960,278.0,39.600000,34.0,54.0,34.0
2,1720,14712,2818.0,2231,18,2008,5,10174,53.0,35.615385,40.0,23.0,28.0
3,3342,24930,11204.0,9912,13,2001,6,10384,81.0,40.416667,30.2,38.0,27.0
4,1520,14676,4378.0,2858,6,1992,1,8778,131.0,33.833333,34.0,46.0,34.0

In [ ]:
print